* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "foot";
  background-color: rgb(236, 236, 236);
}

body > header {
  grid-area: head;
  background-color: darkgray;
  color: white;
  height: 8em;
}

body > main {
  grid: main;
}

body > footer {
  grid-area: foot;
  height: 5em;
  background-color: rgb(228, 228, 228);
}

.logo {
  grid-area: head;
  align-self: start;
  background-color: darkgray;
  height: 8em;
  width: 8em;
}

.container {
  margin: 2em auto 2em auto;
}

.row > div[class^="col"] {
  height: 6em;
  padding-top: 10px;

  border: 1px solid #000;
  color: #000;
  text-align: center;
}
