/* 
Liam Rotchford ~ Sarah Kim
DnD Homepage

[Table of Contents]
1. [General Body of Homepage]
2. [Header, Navbar, Buttons]
3. [Inner Grid]
4. [Inner Grid, Classes Section]
5. [Inner Grid, Races Section]
6. [Inner Grid, Monsters Section]
7. [Inner Grid, Equipment Section]
8. [Inner Grid, Spells Section]
9. [Inner Grid Div, Searchbars]
10. [Mobile Screen Size Query]
11. [Class Icon Button Images]
12. [Races Icon Images]

=================================================================================
====================================================================================
[General Body of Homepage] */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "foot";
  background-color: rgb(236, 236, 236);
  grid-template-rows: auto 1fr auto;
}

body > header {
  display: flex;
  justify-content: space-between;
  grid-area: head;
  padding: 10px 20px;
  background-color: rgb(63, 63, 63);
}

body > main {
  grid-area: main;
}

body > main > .container-fluid {
    padding: 0px 50px 0px 50px;
}

body > footer {
  grid-area: foot;
  height: 3em;
  background-color: rgb(63, 63, 63);
}

/* =================================================================================
====================================================================================
[Header, Navbar, Buttons] */

body > header > #logo {
  display: flex;
  filter: saturate(.85);
}

#logo:hover {
  text-decoration: none;
}

h1 {
  align-self: flex-end;
  margin: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #f12a2a;
}

h5 {
  color: red;
}

body > header > nav {
  align-self: flex-end;
}

.nav-btns {
  border: none;
  background-color: transparent;
  color: white;
}

.nav-btns:hover {
  color: red;
}

.nav-btns:active {
  color: black;
}

button:focus {
  outline: 0;
}

/* =================================================================================
====================================================================================
[Inner Grid] */

.titles {
  margin-top: 1.5em;
  font-size: 2.5em;
  font-weight: bold;
}

.row > div[class^="col"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
}

.col-spacing {
  margin: 0 auto 0 auto;
}

/* =================================================================================
====================================================================================
[Inner Grid, Classes Section] */

.class-btns {
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin: 10px;
  filter: saturate(1);
  transition: border .2s, filter .2s, transform .2s;
  transition-timing-function: ease;
}

.class-btns:hover {
  border: 5px solid transparent;
  filter: saturate(1.5);
  transform: scale(1.05, 1.05);
}

.class-btns:active {
  border: 5px solid rgb(63, 63, 63);
}

.class-row {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.class-img {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.class-img img {
  max-width: 300px;
}

.class-info, .class-profs, .class-equip-items {
  display: flex;
  flex-flow: row wrap;
}

.class-levels, .class-info div, .class-stats div, .equip-choices div {
  margin-right: 20px;
}

.class-levels {
  font-size: .75em;
}

.class-profs-options, .class-equips {
  overflow-y: auto;
}

.class-profs-options p, .class-equips p {
  margin: 0;
}

.cTrans-enter {
  opacity: 0;
  transform: scale(0.9);
}

.cTrans-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.cTrans-exit {
  opacity: 1;
}

.cTrans-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.spellTrans-enter {
  opacity: 0;
}

.spellTrans-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.spellTrans-exit {
  opacity: 1;
}

.spellTrans-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}


/* =================================================================================
====================================================================================
[Inner Grid, Races Section] */

.race-btns {
  border: 8px solid rgba(255, 255, 255, 0.5);
  height: 13em;
  width: 10em;
  margin: 10px;
  transition: border .2s, filter .2s, transform .2s, background-color .2s;
  transition-timing-function: ease;
}

.race-btns:hover {
  background-color: transparent;
  border: 5px solid transparent;
  filter: saturate(1.3);
  transform: scale(1.05, 1.05);
}

.race-btns:active {
  border: 5px solid rgb(63, 63, 63);
}

.race-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.race-img {
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
}

.race-img img {
  width: 100%;
}

.race-stats {
  margin: 20px 20px;
}

.race-info {
  padding: 20px 20px 20px 50px;
}

.race-info h5 {
  color: red;
}

.rTrans-enter {
  opacity: 0;
  transform: scale(0.9);
}

.rTrans-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.rTrans-exit {
  opacity: 1;
}

.rTrans-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

/* =================================================================================
====================================================================================
[Inner Grid, Monster Section] */

.monster-title {
  font-size: 2em;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: #fff;
}

.monster-banner {
  border: 4px solid #000;
  background-image: url("./images/Banners/Monster-banner.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: 50% 48%;
  height: 12em;
  margin: 2em auto 0 auto;
}

/* =================================================================================
====================================================================================
[Inner Grid, Equipment Section] */

.item-title {
  font-size: 2em;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: #fff;
}

.items-banner {
  border: 4px solid #000;
  background-image: url("./images/Banners/items-banner.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: 50% 48%;
  height: 12em;
  margin: 2em auto 0 auto;
}

/* =================================================================================
====================================================================================
[Inner Grid, Spells Section] */

.spell-title {
  font-size: 2em;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: #fff;
}

.spells-banner {
  border: 4px solid #000;
  background-image: url("./images/Banners/SpellBanner.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: 50% 35%;
  height: 12em;
  margin: 2em auto 2em auto;
}

/* =================================================================================
====================================================================================
[Inner Grid Div, Searchbars] */

.search {
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  border: 2px solid #f33201;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.search-btn:hover,
.search-btn:active {
  background-color: #ff4617;
}

.search-btn {
  width: 100%;
  height: 85%;
  background-image: url(images/Icons/search-icon.png);
  overflow: hidden;
  background-size: 90% 90%;
  border: 1px solid #f33201;
  background-color: #f33201;
  border-radius: 0 5px 5px 0;
}

.list-btn {
  border-radius: 5px;
  background-color: #f33201;
  border: 1px solid #f33201;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}

/* =================================================================================
==================================================================================== 
[Mobile Screen Size Query] */

@media (max-width: 414px) {
  .titles {
    font-size: 1.5em;
    font-weight: bold;
  }

  .row > div[class^="col"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
    font-size: 1em;
  }

  .class-btns {
    border: 1.5px solid #000;
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }

  .race-btns {
    border: 4px solid #000;
    height: 5em;
    width: 4em;
  }

  .monster-title {
    font-size: 1.5em;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    color: #fff;
  }

  .item-title {
    font-size: 1.4em;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    color: #fff;
  }

  .spell-title {
    font-size: 1.5em;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    color: #fff;
  }
}

/* =================================================================================
==================================================================================== 
[Class Icon Button Images] */
.barbarian-icon {
  background-image: url("./images/Class-Icons/barbarian-icon.jpeg");
  background-size: 100% 100%;
}

.bard-icon {
  background-image: url("./images/Class-Icons/bard-icon.jpeg");
  background-size: 100% 100%;
}

.cleric-icon {
  background-image: url("./images/Class-Icons/cleric-icon.jpeg");
  background-size: 100% 100%;
}

.druid-icon {
  background-image: url("./images/Class-Icons/druid-icon.jpeg");
  background-size: 100% 100%;
}

.fighter-icon {
  background-image: url("./images/Class-Icons/fighter-icon.jpeg");
  background-size: 100% 100%;
}

.monk-icon {
  background-image: url("./images/Class-Icons/monk-icon.jpeg");
  background-size: 100% 100%;
}

.paladin-icon {
  background-image: url("./images/Class-Icons/paladin-icon.jpeg");
  background-size: 100% 100%;
}

.ranger-icon {
  background-image: url("./images/Class-Icons/ranger-icon.jpeg");
  background-size: 100% 100%;
}

.rogue-icon {
  background-image: url("./images/Class-Icons/rogue-icon.jpeg");
  background-size: 100% 100%;
}

.sorcerer-icon {
  background-image: url("./images/Class-Icons/sorcerer-icon.jpeg");
  background-size: 100% 100%;
}

.warlock-icon {
  background-image: url("./images/Class-Icons/warlock-icon.jpeg");
  background-size: 100% 100%;
}

.wizard-icon {
  background-image: url("./images/Class-Icons/wizard-icon.jpeg");
  background-size: 100% 100%;
}

/* =================================================================================
====================================================================================
[Races Icon Images] */
.dragonborn-icon {
  background-image: url("./images/Race-Images/dragonborn.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dwarf-icon {
  background-image: url("./images/Race-Images/dwarf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.elf-icon {
  background-image: url("./images/Race-Images/elf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gnome-icon {
  background-image: url("./images/Race-Images/gnome.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.half-elf-icon {
  background-image: url("./images/Race-Images/half-elf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.half-orc-icon {
  background-image: url("./images/Race-Images/half-orc.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.halfling-icon {
  background-image: url("./images/Race-Images/halfling.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.human-icon {
  background-image: url("./images/Race-Images/human.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tiefling-icon {
  background-image: url("./images/Race-Images/tiefling.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
