/* 
Liam Rotchford ~ Sarah Kim
DnD Homepage

[Table of Contents]
1. [General Body of Homepage]
2. [Header, Navbar, Buttons]


=================================================================================
====================================================================================
[General Body of Homepage] */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "foot";
  background-color: rgb(236, 236, 236);
  grid-template-rows: auto 1fr auto;
}

body > header {
  display: flex;
  justify-content: space-between;
  grid-area: head;
  padding: 10px 20px;
  background-color: rgb(63, 63, 63);
}

body > main {
  grid-area: main;
}

body > main > .container-fluid {
  padding: 0px 50px 0px 50px;
}

body > footer {
  grid-area: foot;
  height: 3em;
  background-color: rgb(63, 63, 63);
}

/* =================================================================================
  ====================================================================================
  [Header, Navbar, Buttons] */

body > header > #logo {
  display: flex;
  filter: saturate(0.85);
}

#logo:hover {
  text-decoration: none;
}

h1 {
  align-self: flex-end;
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

body > header > nav {
  align-self: flex-end;
}

.nav-btns {
  border: none;
  background-color: transparent;
  color: white;
}

.nav-btns:hover {
  color: red;
}

.nav-btns:active {
  color: black;
}

button:focus {
  outline: 0;
}

/* =================================================================================
  ====================================================================================
  [Table & ROw Toggle] */

#tableHeader {
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
}

.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
  background-color: #fff;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-color: #e4e5e7;
}

.table tr.header {
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.table tr:not(.header) {
  display: none;
}

.table .header td:after {
  content: "\002b";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
  text-align: center;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.table .header.active td:after {
  content: "\2212";
}

/* =================================================================================
  ====================================================================================
  [Inner Row Styling] */

.grid-container {
  display: grid;
  grid-template-areas:
    "img chart"
    "main main";
  grid-template-rows: 400px auto;
}

.grid-container > .image {
  grid-area: img;
  border-radius: 10%;
  border-color: 10px solid #000;
  width: 300px;
  height: 350px;
}

.grid-container > section[id^="chartContain_"] {
  grid-area: chart;
  width: 800px;
  height: 600px;
  margin-top: 5px;
}

/* =================================================================================
==================================================================================== 
[Mobile Screen Size Query] */

@media (max-width: 414px) {
  #tableHeader {
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: bold;
  }
}
